/* The component style is inserted here. */

.header-container {
  display: flex;
}

.ant-input-wrapper {
  margin-top: 17px;
  margin-left: 80px;
}

.ant-radio-group-outline {
  margin: 17px 0 0 130px !important;
}
